<div class="row d-flex mr-0 ml-0 p-0">
        <div class="col-12 contentWrap p-0 pl-3 pr-0 pr-lg-0 pr-sm-3">
            <div class="row p-0 ml-0 mr-0">
    
                <div class="leftPanmg">
  
                        <app-add-equipment></app-add-equipment>
                </div>
    
    
                <div class="recent-ticket">
                    <div class="wrap col-12">
                        <h3>Recent Tickets </h3>
                        <div class="timeUp"><i class="fa fa-cog"></i> Last Update 12 mins ago</div>
                        <div class="col-12 p-0 tickPan"  matTooltip="Active">
                            <div class="row ml-0 mr-0">
                                <div class="col-3  d-flex align-items-center justify-content-center">9002</div>
                                <div class="col-9  d-flex align-items-center">
                                    <div class="hd">This is Sample Ticket <span class="status"
                                            matTooltip="Active"></span><br />
                                        <span class="dec">Last Update : 10/12/2019</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-0 tickPan orange"  matTooltip="Active">
                            <div class="row ml-0 mr-0">
                                <div class="col-3  d-flex align-items-center justify-content-center">9002</div>
                                <div class="col-9  d-flex align-items-center">
                                    <div class="hd">This is Sample Ticket <span class="blue status"
                                            matTooltip="Active"></span><br />
                                        <span class="dec">Last Update : 10/12/2019</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-0 tickPan blue"  matTooltip="Active">
                            <div class="row ml-0 mr-0">
                                <div class="col-3  d-flex align-items-center justify-content-center">9002</div>
                                <div class="col-9  d-flex align-items-center">
                                    <div class="hd">This is Sample Ticket <span class="status"
                                            matTooltip="Active"></span><br />
                                        <span class="dec">Last Update : 10/12/2019</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-0 tickPan"  matTooltip="Active">
                            <div class="row ml-0 mr-0">
                                <div class="col-3  d-flex align-items-center justify-content-center">9002</div>
                                <div class="col-9  d-flex align-items-center">
                                    <div class="hd">This is Sample Ticket <span class="orange status"
                                            matTooltip="Active"></span><br />
                                        <span class="dec">Last Update : 10/12/2019</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-0 tickPan orange"  matTooltip="Active">
                            <div class="row ml-0 mr-0">
                                <div class="col-3  d-flex align-items-center justify-content-center">9002</div>
                                <div class="col-9  d-flex align-items-center">
                                    <div class="hd">This is Sample Ticket <span class="status"
                                            matTooltip="Active"></span><br />
                                        <span class="dec">Last Update : 10/12/2019</span> </div>
                                </div>
                            </div>
                        </div>
    
                        <h3 class="mt-5">Similar Tickets </h3>
                        <div class="timeUp"><i class="fa fa-cog"></i> Last Update 12 mins ago</div>
                        <div class="col-12 p-0 tickPan orange"  matTooltip="Active">
                                <div class="row ml-0 mr-0">
                                    <div class="col-3  d-flex align-items-center justify-content-center">9002</div>
                                    <div class="col-9  d-flex align-items-center">
                                        <div class="hd">This is Sample Ticket <span class="status orange"
                                                matTooltip="Active"></span><br />
                                            <span class="dec">Last Update : 10/12/2019</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-0 tickPan orange" matTooltip="Active">
                                <div class="row ml-0 mr-0">
                                    <div class="col-3  d-flex align-items-center justify-content-center">9002</div>
                                    <div class="col-9  d-flex align-items-center">
                                        <div class="hd">This is Sample Ticket <span class="status"
                                                matTooltip="Active"></span><br />
                                            <span class="dec">Last Update : 10/12/2019</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-0 tickPan blue" matTooltip="Active">
                                <div class="row ml-0 mr-0">
                                    <div class="col-3  d-flex align-items-center justify-content-center">9002</div>
                                    <div class="col-9  d-flex align-items-center">
                                        <div class="hd">This is Sample Ticket <span class="status blue"
                                                matTooltip="Active"></span><br />
                                            <span class="dec">Last Update : 10/12/2019</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-0 tickPan" matTooltip="Active">
                                <div class="row ml-0 mr-0">
                                    <div class="col-3  d-flex align-items-center justify-content-center">9002</div>
                                    <div class="col-9  d-flex align-items-center">
                                        <div class="hd">This is Sample Ticket <span class="status"
                                                matTooltip="Active"></span><br />
                                            <span class="dec">Last Update : 10/12/2019</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-0 tickPan orange" matTooltip="Active">
                                <div class="row ml-0 mr-0">
                                    <div class="col-3  d-flex align-items-center justify-content-center">9002</div>
                                    <div class="col-9  d-flex align-items-center">
                                        <div class="hd">This is Sample Ticket <span class="status"
                                                matTooltip="Active"></span><br />
                                            <span class="dec">Last Update : 10/12/2019</span> </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>