<div class="col-12 equipments">
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="displayAll">
                        <mat-checkbox [(ngModel)]="myModel"></mat-checkbox>
                    </th>
                    <th [class.hideCol]="devi_na">Ticket No</th>
                    <th [class.hideCol]="a_status">Title</th>
                    <th [class.hideCol]="dec">Contact</th>
                    <th [class.hideCol]="an">Assigned</th>
                    <th [class.hideCol]="sn">Total Time</th>
                    <th [class.hideCol]="d_name">Est Time</th>
                    <th [class.hideCol]="la_user">Created </th>
                    <th [class.hideCol]="st">Due </th>
                    <th [class.hideCol]="ip">Type</th>
                    <th [class.hideCol]="gw">Status</th>
                    <th [class.hideCol]="mc">Start Date</th>
                    <th [class.hideCol]="lc">Last Activity </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of collection | paginate: config">
                    <td class="displayAll">
                        <mat-checkbox [checked]="myModel"></mat-checkbox>
                    </td>
                    <td [class.hideCol]="devi_na" class="bold popDetails">{{ item.ticket_num }}</td>
                    <td [class.hideCol]="a_status" class="popDetails"><div class="{{ item.priority }} prio-box"><span  matTooltip="{{ item.priority }}">!</span></div> {{ item.title }}
                        <div class="popover-details">
                            <span class="tickId">{{ item.ticket_num }} {{ item.title }} </span> <strong> ({{ item.priority }})</strong><br/> <span class="statusicon">{{ item.status }}</span>
                            <mat-divider></mat-divider>
                            <p> {{ item.dec | ellipsis: 200}}</p>
                        </div>
                    </td>
                    <td [class.hideCol]="dec">{{ item.contact }}</td>
                    <td [class.hideCol]="dec">{{ item.assigned }}</td>
                    <td [class.hideCol]="an">{{ item.totalTime }}</td>
                    <td [class.hideCol]="sn">{{ item.estTime }}</td>
                    <td [class.hideCol]="la_update">{{ item.created }}</td>
                    <td [class.hideCol]="la_user">{{ item.due }}</td>
                    <td [class.hideCol]="st"><span class="{{ item.type }} typeBox">{{ item.type }}</span></td>
                    <td [class.hideCol]="ip"><span class="statusicon">{{ item.status }}</span></td>
                    <td [class.hideCol]="gw">{{ item.startDate }}</td>
                    <td [class.hideCol]="mc">{{ item.last }}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
</div>

