<div class="col-12 equipments pl-0 pr-0">
    <div class="col-12 pl-4 pr-4">
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="displayAll">
                            <mat-checkbox [(ngModel)]="myModel"></mat-checkbox>
                        </th>
                        <th [class.hideCol]="devi_na">Ticket No</th>
                        <th [class.hideCol]="a_status">Title</th>
                        <th [class.hideCol]="dec">Contact</th>
                        <th [class.hideCol]="an">Assigned</th>
                        <th [class.hideCol]="sn">Total Time</th>
                        <th [class.hideCol]="d_name">Est Time</th>
                        <th [class.hideCol]="la_user">Created </th>
                        <th [class.hideCol]="st">Due </th>
                        <th [class.hideCol]="ip">Type</th>
                        <th [class.hideCol]="gw">Status</th>
                        <th [class.hideCol]="mc">Start Date</th>
                        <th [class.hideCol]="lc">Last Activity </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of collection | paginate:  config" (click)="Onclick(item)">
                        <!--<tr *ngFor="let item of collection | paginate: config">-->
                        <td class="displayAll">
                            <mat-checkbox [checked]="myModel"></mat-checkbox>
                        </td>
                        <td [class.hideCol]="devi_na" class="bold popDetails">{{ item.ticket_id }}</td>
                        <td [class.hideCol]="a_status" class="popDetails">
                            <div class="{{ item.priority }} prio-box"><span matTooltip="{{ item.priority }}">!</span>
                            </div> {{ item.title }}
                            <div class="popover-details">
                                <span class="tickId">{{ item.ticket_num }} {{ item.title }} </span> <strong>
                                    ({{ item.priority }})</strong><br /> <span
                                    class="statusicon">{{ item.status }}</span>
                                <mat-divider></mat-divider>
                                <p> {{ item.dec | ellipsis: 200}}</p>
                            </div>
                        </td>
                        <td [class.hideCol]="dec">{{ item.contact }}</td>
                        <td [class.hideCol]="dec">{{ item.assigned }}</td>
                        <td [class.hideCol]="an">{{ item.totalTime }}</td>
                        <td [class.hideCol]="sn">{{ item.estTime }}</td>
                        <td [class.hideCol]="la_update">{{ item.created }}</td>
                        <td [class.hideCol]="la_user">{{ item.due }}</td>
                        <td [class.hideCol]="st"><span class="{{ item.type }} typeBox">{{ item.type }}</span></td>
                        <td [class.hideCol]="ip"><span class="statusicon">{{ item.status }}</span></td>
                        <td [class.hideCol]="gw">{{ item.startDate }}</td>
                        <td [class.hideCol]="mc">{{ item.last }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row pagin-wrap mr-0 ml-0">
        <div class="col-6">
            <!--[(ngModel)] = 'itemsCount'-->
            <!--<select (change)="onChangeEvent($event)">-->
            <div class="select-box">
                <select #viewItem [(ngModel)]="itemsPerPage" placeholder="10">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="70">70</option>
                    <option value="100">100</option>
                </select> Per Page
            </div>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#myModalColumnSettings"><i
                    class="material-icons-outlined" matTooltip="Column Setting" aria-label="">view_column</i></a>


        </div>
        <div class="col-6">
            <pagination-controls (pageChange)="pageChange($event)" class="my-pagination" maxSize="5"
                directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next"
                screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page"></pagination-controls>
        </div>
    </div>
</div>