/* You can add global styles to this file, and also import other style files */
@import "scss/mixins";
@import "scss/variables";
h1{
    font-family:$font_family;
    margin:0;
    padding:0;
    font-size:$h1_size;
    font-weight:700;
    color:$h1_color;
}
h3{
    margin:0;
    padding:0; 
}

.hide-on-desktop{
    display:none;
}
body{
    background-color:$bg_color;
    font-family:$font_family;
    &:focus{
        outline: none;
    }
    button:focus,select:focus{
        outline: none;
    }
    input:focus,a{
        outline:none;
    }
    .mat-drawer-container{
        background-color:$bg_color;
    }
}

.mat-card{
    font-family:$font_family !important;
}

.close-menu{
    transition: all 0.5s;
    -webkit-transition: all 0.25s;
    .logo-img{
        display:none;
    }
    ul{
       li {
           a{
               span{
                   display:none;
               }
           }
       }
    }
}

.open-menu{
    transition: all 0.5s;
    -webkit-transition: all 0.25s;
}

@import "scss/toolbar";

mat-checkbox{
    label{
        margin-bottom:0 !important;
    }
}
pagination-controls{
    float:right;
    margin-top:30px;

.ngx-pagination{
        li{
            border-radius:3px;

            &.current{
                background:$primary_bg_color !important;

            }
            &:focus{
                outline: none !important;
            }
            a{
                text-decoration:none;
                font-size:13px;
            }
        }
    }
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
}

.mat-checkbox{
    font-family:$font_family;
    color: rgba(0,0,0,.62);
}



@media screen and (max-width: 840px) {
    .hide-on-desktop{
        display:block;
    }
    .hide-on-mobile{
        display:none;
    }

    .open-menu, .close-menu{
        transition: none;
        -webkit-transition: none;
    }
    .close-menu{
        
        .logo-img{
            display:block;
        }
        ul{
           li {
               a{
                   span{
                       display:block;
                   }
               }
           }
        }
    }
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: $check_box_border;
  }
  
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: $check_box_bg !important;
}

quill-editor{
    margin-bottom:10px; 
    &.bebo{
        .ql-toolbar{
            &.ql-snow {
                display:block;
                position:relative;
                margin-bottom:10px;
                border-radius:5px;
                border:1px solid #c9c9c9;
                -webkit-box-shadow: inset -1px 7px 35px -22px rgb(117, 115, 117);
                -moz-box-shadow: inset -1px 7px 35px -22px rgba(117,115,117,1);
                box-shadow: inset -1px 7px 35px -22px rgba(117,115,117,1); 
            }
            .ql-bold {
                &.ql-active{
                    .ql-stroke{
                        color:#010101 !important;
                    }

                }  
            }
            
          }
    }
    .ql-toolbar{
        &.ql-snow {
            display:none;   
        }  
      }
      &.ng-pristine{
        &.ng-invalid{
            &.ng-touched{
                border:1px solid #fff;
            }
        } 
    }
      
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width:100%;
    height:40px;
    border-radius:5px;
    //padding-left:5px;
    margin-bottom:10px;
    border:none;
    
    &.ng-pristine{
        &.ng-invalid{
            &.ng-untouched{
                border:1px solid rgb(187, 74, 74) !important;
            }
        } 
    }
}

//.selectpicker.idealSelect.ng-untouched.ng-pristine.ng-invalid{
    //border:1px solid rgb(187, 74, 74) !important;
//}

.bootstrap-select > .dropdown-toggle{
    background:none !important;
    border:1px solid #9e9e9e;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .4em solid #000000!important;
    border-right: .2em solid transparent;
    border-bottom: 0;
    border-left: .2em solid transparent;
}
.dropdown-toggle:focus {
    outline: none !important;
    border:2px solid #0348b6 !important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px !important;
}
.addTicketComPicker{
    .mat-form-field-appearance-legacy {
        .mat-form-field-underline{
            height:0px !important; 
        }
    }
    mat-datepicker-toggle{
       float:left !important;
    }
}
.mat-slide-toggle{
    height: auto!important;

    .mat-slide-toggle-content{
        overflow:auto !important;
        text-overflow:clip !important;
        font-family: $font_family;
        white-space: normal !important;
    }
}

