/* You can add global styles to this file, and also import other style filess */
@import "scss/mixins";
@import "scss/variables";
h1{
    font-family:$font_family;
    margin:0;
    padding:0;
    font-size:$h1_size;
    font-weight:900;
    color:$h1_color;
}
.hide-on-desktop{
    display:none;
}
body{
    background-color:$bg_color;
    font-family:$font_family;
    &:focus{
        outline: none;
    }
    button:focus,select:focus{
        outline: none;
    }
    input:focus,a{
        outline:none;
    }
    .mat-drawer-container{
        background-color:$bg_color;
    }
}

.mat-card{
    font-family:$font_family !important;
}

.close-menu{
    transition: all 0.5s;
    -webkit-transition: all 0.25s;
    .logo-img{
        display:none;
    }
    ul{
       li {
           a{
               span{
                   display:none;
               }
           }
       }
    }
}

.open-menu{
    transition: all 0.5s;
    -webkit-transition: all 0.25s;
}

@import "scss/toolbar";

mat-checkbox{
    label{
        margin-bottom:0 !important;
    }
}
pagination-controls{
    float:right;
    margin-top:30px;

.ngx-pagination{
        li{
            &.current{
                background:$primary_bg_color !important;
            }
            &:focus{
                outline: none !important;
            }
            a{
                text-decoration:none;
            }
        }
    }
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
}

.mat-checkbox{
    font-family:$font_family;
    color: rgba(0,0,0,.62);
}



@media screen and (max-width: 840px) {
    .hide-on-desktop{
        display:block;
    }
    .hide-on-mobile{
        display:none;
    }

    .open-menu, .close-menu{
        transition: none;
        -webkit-transition: none;
    }
}
