@import "../scss/mixins";
@import "../scss/variables";

mat-sidenav-container{
    height: 100vh;

    mat-sidenav{
        background:$primary_bg_color;
        width:80px;
        height:100%;
    }
    .close-menu{
        width:80px;
    }
    .open-menu{
        width:238px;
        //position:absolute !important;
    }

    &.hidetool{
        display:none !important;
    }
}

.hide-outlet{
    display:none !important;
}

@media screen and (max-width: 840px) {
    mat-sidenav-container{
        mat-sidenav{
            width:237px;   
        }
        .close-menu{
            width:238px;
        }
        .open-menu{
            width:238px;
        }
    }
}
