@import "../scss/mixins";
@import "../scss/variables";

mat-sidenav-container{
    height: 100vh;

    mat-sidenav{
        background:$primary_bg_color;
        width:80px;
        height:100%;
        flex: 0 1 auto;

        &.open-menu{
            width:238px;
        }
    }
    &.hidetool{
        display:none !important;
    }

    mat-sidenav-content {
        margin-left: 80px !important;
        flex: 1 1 auto;
        &.open{
            margin-left:238px !important;
        }
    }
}

.hide-outlet, .hideToolbar{
    display:none !important;
}

@media screen and (max-width: 840px) {
    mat-sidenav-container{
        mat-sidenav{
            width:238px !important;
            &.open-menu{
                width:238px !important;
            }   
        }


        mat-sidenav-content {
            margin-left: 0px !important;
            &.open{
                margin-left:0px !important;
            }
        }
    }
}
