@import "../../../scss/mixins";
@import "../../../scss/variables";
.modal-dialog{
    .modal-body{
        height:550px;
        overflow-y:scroll;
        @include scrollbars(5px, $primary_bg_color);

        .alert{
            &.alert-danger{
                padding-top: 0;
                padding-bottom:0;
                font-size:11px;
                font-family: $font_family;
                margin-bottom:10px;
                background:none;
                color:red;
                border:none;
                margin-top:-10px;
            }
        }
        .btn{
            &.btn-success{
                background:red;
            } 
        }

        button{
            &:focus{
                outline: none;
            }
        }

    }
}
.mat-raised-button{
    &.mat-primary{
        font-family:$font_family;
        float:right!important;
        background:$primary_bg_color;
    } 
}