<div class="col-12 fd-bar">
<div class="col-12 p-0 text-center">
    <div class="dropdown">
        <button class="eq-menu" type="button" matTooltip="Ticket Menu" data-toggle="dropdown" (click)="showClosedMenu()"><i class="material-icons">playlist_add</i></button>
        
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">Add New Ticket</a></li>
            <li><a href="javascript:void(0);">Add Group</a></li>
            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#myModalSearch">Add Saved Search</a></li>

        </ul>
    </div>
    <i class="material-icons menuSecond hide-on-desktop" (click)="showMenu()">menu</i>
</div>
<div class="clearfix"></div>
<div class="row mr-0 ml-0 main-nav-side" [ngClass]="eqMenuTrigger ? 'showMenu' : 'hideMenu'">
    <ul>
        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a
                [routerLink]=''><i class="material-icons">personal_video</i> Last 20 Tickets </a></li>
        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a><i
                    class="material-icons">check_box_outline_blank</i> All Open Tickets <span>(3)</span></a></li>
        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a><i
                    class="material-icons">present_to_all</i> My Current Tickets <span>(2)</span></a></li>
        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a><i
                    class="material-icons">notes</i> My Tasks <span>(0)</span></a></li>
        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a><i
                    class="material-icons">perm_identity</i> My Tickets <span>(6)</span></a></li>
        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a><i
                    class="material-icons">error</i> My Hold/Awaiting on<br/> Client Tickets <span>(6)</span></a></li>
        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a><i
                    class="material-icons-outlined">queue</i> New Tickets <span>(6)</span></a></li>
        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a><i
                    class="material-icons">chrome_reader_mode</i> Open/Reopen Tickets <span>(6)</span></a></li>

        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a><i
                    class="material-icons">autorenew</i> Reoccuring Tickets <span>(6)</span></a></li>
        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a><i
                    class="material-icons">delete_outline</i> Deleted Tickets <span>(6)</span></a></li>
        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a><i
                    class="material-icons">event_note</i> Templates Tickets <span>(6)</span></a></li>
        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a><i
                    class="material-icons">launch</i> Recent Activity <span>(6)</span></a></li>
        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a><i
                    class="material-icons">arrow_right_alt</i> Stagnating <span>(6)</span></a></li>


        <li class="d-flex align-items-center" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a (click)="showGroup(); changeIcons('keyboard_arrow_down')"><i class="material-icons">group</i> Groups
                <span><i class="material-icons arrow">{{icons}}</i></span></a>
        </li>
        <div class="clearfix sub_menu hide-menu" [class.show-menu]="drop">
            <li class="d-flex align-items-center"><a><i class="material-icons">add</i> Add Group</a></li>
        </div>

        <li class="d-flex align-items-center">
            <a (click)="showGroup1(); changeIcons1('keyboard_arrow_down')"><i class="material-icons">filter_list</i>
                Saved Searches <span><i class="material-icons arrow">{{icons1}}</i></span></a>
        </li>
        <div class="clearfix sub_menu hide-menu" [class.show-menu]="drop1">
            <li class="d-flex align-items-center"><a><i class="material-icons">add</i> Add Saved Search</a></li>
        </div>
    </ul>
</div>
</div>