<div class="row d-flex mr-0 ml-0 p-0">
    <div class="col-12 contentWrap p-0 pl-3 pr-0 pr-lg-0 pr-sm-3">
        <div class="row p-0 ml-0 mr-0">

            <div class="leftPanmg">
                <form [formGroup]="addTicketForm" novalidate>
                    <!--<div class="alert alert-danger alert-dismissible fade show mt-3 mb-0 " role="alert">
                    <strong>Warning:</strong> One servers covered by flat rate
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>-->
                    <div class="row mr-0 ml-0">
                        <div class="col-12 col-lg-7 col-md-7">
                            <h1>Add New Ticket</h1>
                        </div>
                        <div class="col-12 col-lg-5 col-md-5 d-flex justify-content-end align-items-center pt-0 pb-0">
                            <button class="templateButton" (click)="selectTemplate();"><i class="fa fa-file"
                                    aria-hidden="true"></i> Pick a Template</button>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row mb-3  hideOninit" [class.displayproperty]="pickTemplate">
                            <div class="col-12">
                                <label>Template</label>
                                <!--<select formControlName="template" tabindex="1" class="selectpicker idealSelect"
                                    data-live-search="true">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>-->
                                <ng-select [multiple]="false" tabindex="1">
                                    <ng-option *ngFor="let template of templates" [value]="template.Value">
                                        {{template.Label}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label>Assigned</label>
                                <select tabindex="2">
                                    <option *ngFor="let assign of assignList" [selected]="assign.Default == true"
                                        [value]="assign.Value">{{assign.Label}}</option>

                                </select>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-12">
                                <label>Client <span>*</span></label>

                                <!--<select class="js-example-basic-multiple clientSelect" tabindex="3" formControlName="clientName" required>
                                    <option value="Ab Soft Limited">Ab Soft Limited</option>
                                    <option value="ABC Bins Limited">ABC Bins Limited</option>
                                    <option value="Bank West">Bank West</option>
                                </select>-->

                                <ng-select [multiple]="false" [(ngModel)]="selected" formControlName="clientName"
                                    tabindex="3" (input)="eventHandler($event.target.value)"
                                    (change)="onChangeclient($event)" class="drop-spinner">
                                    <ng-option *ngIf="DropLoder"><i class="fa fa-spinner fa-spin"></i> </ng-option>
                                    <ng-option *ngFor="let contactsDetail of getContactsDetails"
                                        [value]="contactsDetail.id">{{contactsDetail.name}}</ng-option>

                                </ng-select>

                                <div class="clearfix"></div>
                                <a class="float-right flt-tags">+ Add New</a>
                                <div *ngIf="addTicketForm.controls['clientName'].invalid && (addTicketForm.controls['clientName'].dirty || addTicketForm.controls['clientName'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addTicketForm.controls['clientName'].errors.required">
                                        client is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3  hideOninit" [class.displayproperty]="onselectanyClient">
                            <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                                <label>Project</label>
                                <select formControlName="project" tabindex="4" (change)="projectchange($event.target.value)">
                                    <option *ngFor="let getclientProject of getclientProjects" [value]="getclientProject.Value">{{getclientProject.Label}}</option>

                                </select>

                            </div>
                            <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                                <label>Task</label>
                                <select formControlName="task" tabindex="4">
                                    <option *ngFor="let getTask of getTasklists" [value]="getTask.ItemNo">{{getTask.Name}}</option>

                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Contact Name</label>
                                <select formControlName="contactName" tabindex="5">
                                    <option *ngFor="let contactName of getLinkedContactName" [value]="contactName.Value">{{contactName.Label}}</option>
                                </select>

                                <a class="float-right flt-tags">+ Add New</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Devices</label>
                                <ng-select [multiple]="true" tabindex="6" class="drop-spinner" (input)="searchDeviceList($event.target.value)">
                                    <ng-option *ngIf="DropLoderDevList"><i class="fa fa-spinner fa-spin"></i> </ng-option>
                                    <ng-option *ngFor="let getdevilist of getDevicesList"
                                        [value]="getdevilist.DeviceID">{{getdevilist.DeviceName}}</ng-option>

                                </ng-select>

                                <div class="clearfix"></div>
                                <a class="float-right flt-tags">+ Add New</a>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label>Priority</label>
                                <select formControlName="priorityType" tabindex="7">
                                    <option *ngFor="let priority of priorities" [value]="priority.ID">{{priority.Desc}}
                                    </option>

                                </select>


                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label>Issue Type <span>*</span></label>
                                <select formControlName="issue" tabindex="8" required>
                                    <option *ngFor="let issue of issues" [value]="issue.ID">{{issue.Desc}}</option>
                                </select>


                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label>Title <span>*</span></label>
                                <input type="text" formControlName="title" tabindex="9" required>
                            </div>
                            <!-- <div *ngIf="addTicketForm.controls['title'].invalid && (addTicketForm.controls['title'].dirty || addTicketForm.controls['title'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="addTicketForm.controls['title'].errors.required">
                                    Title is required.
                                </div>
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Description</label>
                                <quill-editor [styles]="editorStyle" tabindex="10" [modules]="config"
                                    [class.bebo]="clickTrue" formControlName="editorRich" required>

                                </quill-editor>
                                <div class="col-12 p-0 floating-pop">
                                    <ul>
                                        <li><a matTooltip="Formatting Options" (click)="showTool();">A</a></li>
                                        <li><i class="fa fa-paperclip" matTooltip="Attach File"
                                                (click)="showAtch();"></i></li>
                                        <li><i class="fa fa-dropbox" matTooltip="Choose From Dropbox"></i></li>
                                        <li><svg matTooltip="Choose From Google Drive"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="30px"
                                                height="30px">
                                                <path fill="#FFC107" d="M17 6L31 6 45 30 31 30z" />
                                                <path fill="#1976D2" d="M9.875 42L16.938 30 45 30 38 42z" />
                                                <path fill="#4CAF50" d="M3 30.125L9.875 42 24 18 17 6z" /></svg></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 upldPanel mt-3" [class.showUp]="upld">
                                <div class="uploadfilecontainer d-flex justify-content-center align-items-center"
                                    (click)="fileInput.click()" appDrag (onFileDropped)="uploadFile($event)">
                                    <i class="fa fa-upload"></i> Choose a file or Drag it here
                                    <input hidden multiple type="file" #fileInput
                                        (change)="uploadFile($event.target.files)">
                                </div>
                            </div>
                            <div class="w-100 pl-3 pr-3 ">
                                <div class="row mt-3 p-3">
                                    <div class="files-list" *ngFor="let file of files;let i= index">
                                        <div class="wrapClass">
                                            <!--<img [src]="imgURL" width="30">--><i
                                                class="material-icons-outlined">insert_drive_file</i>
                                            {{ file | ellipsis: 16}}
                                            <i class="material-icons delete" (click)="deleteAttachment(i)">close</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 col-sm-6 checkWrap">
                                <mat-checkbox (change)="resTicket()" tabindex="11">Resolve Ticket</mat-checkbox>
                            </div>
                            <div class="col-12 col-sm-6 checkWrap" [class.noneDisplay]="schTicket">
                                <mat-checkbox (change)="scheduleTicket()" tabindex="12">Schedule Ticket</mat-checkbox>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row mt-3 col-11 inner" [class.showResolve]="conTrue">
                                <div class="col-lg-3 col-md-4 col-6">
                                    <label>Time units</label>
                                    <input type="text" formControlName="timeUnit" [(ngModel)]="timeCal">
                                </div>

                                <div class="col-lg-3 col-md-3 col-6">
                                    <label style="color:#fff;">total-time</label>
                                    <input type="text" readonly class="displayTime" value="{{ timeCal * 15 | hour }}">

                                </div>
                                <div class="col-lg-5 col-md-5 col-12">
                                    <label>Time</label>
                                    <input [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
                                    <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <mat-checkbox>Is chargeable?</mat-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" [class.noneDisplay]="schTicket">

                            <div class="clearfix"></div>
                            <div class="row mt-3 col-11 inner" [class.showSchedule]="conTrueOne">
                                <div class="col-lg-12 col-md-12 col-12 mb-3">
                                    <mat-checkbox (change)="wholeDay()">Whole Day</mat-checkbox>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <label>Start Date</label>
                                    <input [owlDateTimeTrigger]="dt12" [disabled]="isDisabled" [owlDateTime]="dt12"
                                        [(ngModel)]="selectedMoments" [selectMode]="'rangeFrom'"
                                        formControlName="StartDate">
                                    <owl-date-time #dt12></owl-date-time>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <label>End Date</label>
                                    <input [owlDateTimeTrigger]="dt13" [disabled]="isDisabled" [owlDateTime]="dt13"
                                        [(ngModel)]="selectedMoments" [selectMode]="'rangeTo'"
                                        formControlName="EndDate">
                                    <owl-date-time #dt13></owl-date-time>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 checkWraps">
                                <mat-checkbox (change)="advancedOption()" tabindex="13">View Advanced Options
                                </mat-checkbox>
                                <div class="clearfix"></div>
                                <div class="row mt-3 col-12 inner" [class.showAdvancedOption]="conTrueTwo">
                                    <h5>Advanced options</h5>
                                    <mat-divider></mat-divider>

                                    <div class="col-12 mt-3">
                                        <label>Logged By</label>
                                        <select>
                                            <option *ngFor="let contactName of getLinkedContactName" [value]="contactName.Value">{{contactName.Label}}</option>
                                        </select>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <label>Additional People to Notify</label>


                                        <!--<select class="js-example-basic-multiple" formControlName="peopleNotify"
                                            multiple="multiple" required>
                                            <option value="Ab Soft Limited">Ab Soft Limited</option>
                                            <option value="ABC Bins Limited">ABC Bins Limited</option>
                                            <option value="Bank West">Bank West</option>
                                        </select>-->

                                        <ng-select [multiple]="true" (input)="eventHandler($event.target.value)" class="drop-spinner">
                                            <ng-option *ngIf="DropLoder"><i class="fa fa-spinner fa-spin"></i> </ng-option>
                                    <ng-option *ngFor="let contactsDetail of getContactsDetails"
                                        [value]="contactsDetail.id">{{contactsDetail.name}}</ng-option>
    
                                    </ng-select>

                                

                                    </div>
                                    <div class="col-12 mt-3">
                                        <mat-checkbox (change)="intTicket()">Internal Ticket</mat-checkbox>
                                    </div>
                                    <div class="col-12 mt-3" [class.noneDisplay]="ifIntTicket">
                                        <mat-checkbox>Send Client a Notification</mat-checkbox>
                                    </div>


                                    <div class="col-12 mt-3">
                                        <mat-checkbox>No SLA Response Required</mat-checkbox>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <mat-checkbox>Ticket Recurs</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="button-wrap">

                        <div class="col-12  align-items-right justify-content-end">
                            <button type="reset" mat-raised-button color="primary" class="cancel">Cancel</button>
                            <button mat-raised-button color="primary" type="submit" tabindex="15">Save</button>

                        </div>
                    </div>
                </form>

            </div>


            <div class="recent-ticket">
                
                <div class="wrap col-12">
                    <h3 class="mb-4">Recent Tickets </h3>

                    <mat-progress-bar mode="indeterminate" *ngIf="fadeDiv"></mat-progress-bar>
                    <!--<div class="timeUp"><i class="fa fa-cog"></i> Last Update 12 mins ago</div>-->
                    <div *ngFor="let ticketList of getRecentTicketsList" class="col-12 p-0 tickPan" [class.faded]="fadeDiv" matTooltip="{{ticketList.Status}}">
                        <div class="row ml-0 mr-0">
                            <div class="col-3  d-flex align-items-center justify-content-center">{{ticketList.TicketNo}}</div>
                            <div class="col-9  d-flex align-items-center">
                                <div class="hd">{{ticketList.Title}} <span class="status"
                                        matTooltip="{{ticketList.Status}}"></span><br />
                                        <span class="dec">Date Created : {{ticketList.Created | date: 'dd/MM/yyyy'}}</span> <br/>
                                    <span class="dec">Last Update : {{ticketList.LastUpdate | date: 'dd/MM/yyyy'}}</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>