@import "../../../scss/mixins";
@import "../../../scss/variables";
@import "../../../scss/common-addnew";
@import "../../../scss/loader";

.form-group{
    &.hidden {
        width: 0;
        margin: 0;
        border: none;
        padding: 0;
        .input-group{
            input{
                width:0;
                border:none !important;
            }
        }
      }
      .input-group{
        width:100% !important;
        input{
            width:100% !important;
            &:disabled{
                opacity: 0.2;
            }
        }
        button{
            background:$primary_bg_color;
            margin-left:-5px;
            border:none !important;
            &:disabled{
                opacity: 0.2;
            }
            .material-icons{
                font-size: 13px;
                color:#f1f1f1;
            }
        }
     }
      .custom-day {
        text-align: center;
        padding: 0.185rem 0.25rem;
        display: inline-block;
        height: 2rem;
        width: 2rem;
        &.focused {
            background-color: #e6e6e6;
        }
        &.range, &:hover{
            background-color: rgb(2, 117, 216);
            color: white;
        }
        &.faded{
            background-color: rgba(2, 117, 216, 0.5);
        }
      }

}

::ng-deep .ngb-tp-meridian{
    .btn-outline-primary{
        background:$primary_bg_color !important;
        color:#fff;
        border:none !important;
        &:hover{
            background:$primary_bg_color !important;
        }
    }
}
@media screen and (max-width: 840px) {
    ::ng-deep .ngb-dp-months{
        display:block !important;
    }
}



