<div class="col-12 p-2 pl-lg-0 pt-lg-0 pr-4 pl-4">
 
    <div class="row  ml-0 mr-0">
        <div class="col-lg-3 col-12 inner-side-pannel pl-lg-0 pr-lg-0 hide-on-mobile">
            <app-ticketsidebar></app-ticketsidebar>
        </div>
        <div class="col-lg-9 col-12 inner-main-panel pr-0 pl-lg-3 pl-0">

                <div class="col-12 col-lg-12 pl-0 pr-0 pt-2 pt-lg-4 pb-4 mt-4 d-lg-flex">
                        <div class="col-lg-2 col-12 p-0 m-0">
                            <h1>Tickets</h1>
                        </div>
                        <div class="col-lg-10 col-12 col-sm-12 d-flex justify-content-end flex-wrap pr-0 pl-0 mt-4 mt-lg-0 mt-sm-0">
                            <div class="top-btns  order-5">
                                <div class="btn-wrap d-flex align-items-center"><a href=""
                                        class="d-flex align-items-center"><i class="material-icons-outlined"  aria-label="">speed</i> <span>Dashbord</span></a></div>
                            </div>
                            <div class="top-btns  order-4">
                                <div class="btn-wrap d-flex align-items-center"><a href=""
                                        class="d-flex align-items-center"><i class="material-icons-outlined"  aria-label="">local_offer</i><span>Tags</span></a></div>
                            </div>
                
                            <div class="top-btns order-3">
                                <div class="btn-wrap d-flex align-items-center"><a href=""
                                        class="d-flex align-items-center"><i class="material-icons-outlined"  aria-label="">notifications</i> <span>Alerts</span> <span class="alert_note">3</span></a></div>
                            </div>
                            <div class="top-btns  order-2">
                                <div class="btn-wrap d-flex align-items-center"><a href=""
                                        class="d-flex align-items-center"><i class="material-icons-outlined"  aria-label="">schedule</i> <span>Schedule</span></a></div>
                            </div>
                            <div class="top-btns order-1">
                                <div class="btn-wrap d-flex align-items-center new-ticket"><a href=""
                                        class="d-flex align-items-center"><i class="material-icons-outlined"  aria-label="">add</i> <span>New Ticket</span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12 inner-side-pannel pl-lg-0 pr-lg-0 hide-on-desktop">
                            <app-ticketsidebar></app-ticketsidebar>
                        </div>

            <div class="col-lg-12 col-12 pt-0 mt-4 pb-0 wrap">    
                <div class="row top-filters pl-3 pr-3">
                    <div class="col-lg-6 col-12 col-sm-6 pb-4 pb-lg-0 pb-sm-0">
                        <div class="dropdown">
                            <button class="task-drp" type="button" data-toggle="dropdown">Actions &#9660;</button>

                            <ul class="dropdown-menu fixed-height">
                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Delete Tickets
                                    </button>
                                </li>
                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Restore Tickets
                                    </button>
                                </li>
                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Assign Ticket
                                    </button>
                                </li>
                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Merge Tickets
                                    </button>
                                </li>

                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Set as Initial loading
                                    </button>
                                </li>

                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Set as In progress
                                    </button>
                                </li>

                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Set as Waiting on client
                                    </button>
                                </li>

                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Set as Waiting for it to reoccur
                                    </button>
                                </li>

                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Set as Hold
                                    </button>
                                </li>

                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Set as Resolved
                                    </button>
                                </li>
                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Set as Closed
                                    </button>
                                </li>
                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Set as Schedule Service Call
                                    </button>
                                </li>



                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Set as Reopen
                                    </button>
                                </li>
                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Set as Peer Review
                                    </button>
                                </li>

                                <li class="text-left">
                                    <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                        Set as Ready For Testing
                                    </button>
                                </li>


                            </ul>
                        </div>

                        <a href="javascript:void(0);"><i class="material-icons-outlined"
                                matTooltip="Delete Selected Tickets">delete</i></a>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#myModalColumnSettings"><i
                                class="material-icons-outlined" matTooltip="Column Setting"
                                aria-label="">view_column</i></a>
                    </div>
                    <div
                        class="col-lg-6 col-12 col-sm-6 justify-content-lg-end justify-content-sm-end justify-content-center d-flex">
                        <input type="text" class="srch-tbl" placeholder="Search By Number">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#myModalSearchTicket"><i
                                class="material-icons-outlined">filter_list</i></a>
                    </div>
                </div>
                <router-outlet name="ticket"></router-outlet>
            </div>
        </div>
    </div>
</div>

