@import "../../../scss/mixins";
@import "../../../scss/variables";
.mat-raised-button{
    &.mat-primary{
        font-family:$font_family;
        float:right!important;
        background:$primary_bg_color;
    } 
}


.filter-btn{
        background:#fff !important;
        border:none;
        font-family:$font_family;
        font-weight:bold;

        .material-icons{
            position:relative;
            float:left;
            margin-right:5px;
        }
}

.modal-body{
    .nss{
        padding-left:5px;
        border:1px solid #a1a1a1;
        border-top:none;
        border-left:none;
        border-right:none;
        font-size:13px;
        width:100%;
        padding-top:3px;
        padding-bottom:3px;
    }
}
