<div class="col-12 equipments pl-0 pr-0">
    <div class="col-12 pl-4 pr-4">
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="displayAll">
                            <mat-checkbox [(ngModel)]="myModel"></mat-checkbox>
                        </th>
                        <th [class.hideCol]="devi_na">Device Name</th>
                        <th [class.hideCol]="a_status">Agent Status</th>
                        <th [class.hideCol]="dec">Description</th>
                        <th [class.hideCol]="an">Asset No.</th>
                        <th [class.hideCol]="sn">Serial No.</th>
                        <th [class.hideCol]="d_name">Agent Version </th>
                        <th [class.hideCol]="la_update">Last Agent Update</th>
                        <th [class.hideCol]="la_user">Last User </th>
                        <th [class.hideCol]="st">Status </th>
                        <th [class.hideCol]="ip">IP Address</th>
                        <th [class.hideCol]="gw">Gateway </th>
                        <th [class.hideCol]="mc">MAC Address </th>
                        <th [class.hideCol]="lc">Location </th>
                        <th [class.hideCol]="id">Install Date</th>
                        <th [class.hideCol]="ct">Contact</th>
                        <th [class.hideCol]="mr">Memory</th>
                        <th [class.hideCol]="pr">Purchased </th>
                        <th [class.hideCol]="wa_ex">Warranty Expiry</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of collection | paginate: config">
                        <td class="displayAll">
                            <mat-checkbox [checked]="myModel"></mat-checkbox>
                        </td>
                        <td [class.hideCol]="devi_na">{{ item.devicename }}</td>
                        <td [class.hideCol]="a_status"><span class="status-pan online">{{ item.agent_status }}</span>
                        </td>
                        <td [class.hideCol]="dec">{{ item.dec }}</td>
                        <td [class.hideCol]="an">{{ item.asset }}</td>
                        <td [class.hideCol]="sn">{{ item.serial }}</td>
                        <td [class.hideCol]="d_name">{{ item.version }}</td>
                        <td [class.hideCol]="la_update">{{ item.last }}</td>
                        <td [class.hideCol]="la_user">{{ item.user }}</td>
                        <td [class.hideCol]="st">{{ item.status }}</td>
                        <td [class.hideCol]="ip">{{ item.ip }}</td>
                        <td [class.hideCol]="gw">{{ item.gateway }}</td>
                        <td [class.hideCol]="mc">{{ item.mac }}</td>
                        <td [class.hideCol]="lc">{{ item.location }}</td>
                        <td [class.hideCol]="id">{{ item.date }}</td>
                        <td [class.hideCol]="ct">{{ item.contact }}</td>
                        <td [class.hideCol]="mr">{{ item.agent }}</td>
                        <td [class.hideCol]="pr">{{ item.pur }}</td>
                        <td [class.hideCol]="wa_ex">{{ item.warranty }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row pagin-wrap mr-0 ml-0">
        <div class="col-6">
            <!--[(ngModel)] = 'itemsCount'-->
            <!--<select (change)="onChangeEvent($event)">-->
            <select #viewItem [(ngModel)]="itemsPerPage" placeholder="10">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="70">70</option>
                <option value="100">100</option>
            </select> Per Page



        </div>
        <div class="col-6"><pagination-controls (pageChange)="pageChange($event)" class="my-pagination"
                      
                      maxSize="5"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page"
            ></pagination-controls></div>
    </div>
</div>