<a (click)="menuButtonClickedMobiles.emit();" class="hide-on-desktop"><i class="material-icons clear">clear</i></a>
<img src="../../assets/logo.svg" alt="Logo" class="logo-img">
<ul class="side-nav p-0">
    <li><a href=""><i class="material-icons">speed</i><span> Dashboard</span></a></li>
    <li><a href=""><i class="material-icons">receipt</i> <span>Tickets</span></a></li>
    <li><a href=""><i class="material-icons">vibration</i> <span>Alerts</span></a></li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink='/equipment'><i class="material-icons">device_hub</i> <span>Equipments</span></a></li>
    <li><a href=""><i class="material-icons">code</i> <span>Scripts</span></a></li>
    <li><a href=""><i class="material-icons">supervisor_account</i> <span>Clients</span></a></li>
    <li><a href=""><i class="material-icons">supervised_user_circle</i> <span>Users</span></a></li>
    <li><a href=""><i class="material-icons">build</i> <span>Settings</span></a></li>
</ul>
