<mat-toolbar [class.expandsidenav]="issideOpen">
    <div class="col-lg-4 col-md-4 col-sm-4 col-3 p-0">
        <!--<a (click)="menuButtonClicked.emit(); changeIcon('clear_all')" class="hide-on-mobile"><i class="material-icons menu">{{icon}}</i></a>-->
        <a (click)="menuButtonClickedMobile.emit();" class="hide-on-desktop-only"><i class="material-icons menu">menu</i></a>
        <img src="../../assets/logo.svg" class="hide-on-mobile-only" style="width:100px;">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-9 justify-content-end d-flex align-items-center">
        
      <div class="search-float-wrap" [matMenuTriggerFor]="menuSearch">
        <span class="searchIco"><i class="material-icons-outlined">search</i></span>
        
     </div>
     <mat-menu #menuSearch="matMenu" [overlapTrigger]="false" class="menu_search tool-menu">
       <form (click)="$event.stopPropagation()">
            <input type ="text" autofocus placeholder="Search device name, user, client, serial no.,IP address or label..." />
            <div class="btn-group btn-group-toggle" id="btnGroup" data-toggle="buttons">
                <label class="btn btn-secondary" [ngClass]="clicked === 0 ? 'active' : 'non-active'" (click)="select(0)">
                <input type="radio" name="options" id="hatchback" autocomplete="off" checked> All
                </label>
             
                <label class="btn btn-secondary" [ngClass]="clicked === 1 ? 'active' : 'non-active'" (click)="select(1)">
                <input type="radio" name="options" id="sedan" autocomplete="off"> Ticket
                </label>
             
                <label class="btn btn-secondary" [ngClass]="clicked === 2 ? 'active' : 'non-active'" (click)="select(2)">
                <input type="radio" name="options" id="suv" autocomplete="off"> Client
                </label>

                <label class="btn btn-secondary" [ngClass]="clicked === 3 ? 'active' : 'non-active'" (click)="select(3)">
                    <input type="radio" name="options" id="suv" autocomplete="off"> Project
                    </label>
             </div>
       </form>
    </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Notification" class="icon-btn">
            <i class="material-icons-outlined" matBadge="15" matBadgeColor="warn" matBadgeSize="small">notifications</i>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false" class="menu_1 tool-menu">
            <div class="m-head d-flex align-items-center">
                You Have 10 Notifications
                <i class="material-icons-outlined">message</i>
            </div>
            <div class="msg-content">
                <div class="msg-box align-items-center">
                    <div class="w-100 d-flex title-wrap">
                        <span class="title flex-fill">Message 01 </span><span class="time flex-fill text-right">1 Hour
                            Ago</span>
                    </div>
                    <div class="w-100"><span class="detail">Lorem ipsum dolor sit amet</span></div>
                </div>
                <div class="msg-box align-items-center flex-row">
                    <div class="w-100 d-flex title-wrap">
                        <span class="title flex-fill">Message 01 </span><span class="time flex-fill text-right">1 Hour
                            Ago</span>
                    </div>
                    <div class="w-100"><span class="detail">Lorem ipsum dolor sit amet</span></div>
                </div>
                <div class="msg-box align-items-center flex-row">
                    <div class="w-100 d-flex title-wrap">
                        <span class="title flex-fill">Message 01 </span><span class="time flex-fill text-right">1 Hour
                            Ago</span>
                    </div>
                    <div class="w-100"><span class="detail">Lorem ipsum dolor sit amet</span></div>
                </div>
                <div class="msg-box align-items-center">
                    <div class="w-100 d-flex title-wrap">
                        <span class="title flex-fill">Message 01 </span><span class="time flex-fill text-right">1 Hour
                            Ago</span>
                    </div>
                    <div class="w-100"><span class="detail">Lorem ipsum dolor sit amet</span></div>
                </div>
                <div class="msg-box align-items-center flex-row">
                    <div class="w-100 d-flex title-wrap">
                        <span class="title flex-fill">Message 01 </span><span class="time flex-fill text-right">1 Hour
                            Ago</span>
                    </div>
                    <div class="w-100"><span class="detail">Lorem ipsum dolor sit amet</span></div>
                </div>
                <div class="msg-box align-items-center flex-row">
                    <div class="w-100 d-flex title-wrap">
                        <span class="title flex-fill">Message 01 </span><span class="time flex-fill text-right">1 Hour
                            Ago</span>
                    </div>
                    <div class="w-100"><span class="detail">Lorem ipsum dolor sit amet</span></div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="view-more"><a href="">See All Notifications</a></div>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="menu_2" aria-label="Notification" class="icon-btn">
            <i class="material-icons-outlined">tune</i>
        </button>
        <mat-menu #menu_2="matMenu" [overlapTrigger]="false" class="menu_3 tool-menu">
            <button mat-menu-item class="d-flex align-items-center">
                <i class="material-icons-outlined add">add_circle_outline</i>
                <span>New Activity</span>
            </button>
            <button mat-menu-item class="d-flex align-items-center">
                <i class="material-icons-outlined add">add_circle_outline</i>
                <span>Add New Client</span>
            </button>
            <button mat-menu-item class="d-flex align-items-center">
                <i class="material-icons-outlined add">add_circle_outline</i>
                <span>New Invoice</span>
            </button>
            <button mat-menu-item class="d-flex align-items-center">
                    <i class="material-icons-outlined add">add_circle_outline</i>
                    <span>New Opportunity</span>
            </button>
            <button mat-menu-item class="d-flex align-items-center">
                    <i class="material-icons-outlined add">add_circle_outline</i>
                    <span>New Project</span>
            </button>
            <button mat-menu-item class="d-flex align-items-center">
                    <i class="material-icons-outlined add">add_circle_outline</i>
                    <span>New Ticket</span>
            </button>
            <button mat-menu-item class="d-flex align-items-center">
                    <i class="material-icons-outlined add">add_circle_outline</i>
                    <span>New Timesheet</span>
            </button>
        </mat-menu>
        <div class="thumbnail-user">
            <button mat-icon-button [matMenuTriggerFor]="menu_3" aria-label="Notification" class="icon-btn"
                style="margin-left:0;width:32px;">
                <img src="../assets/user-img.jpg" class="rounded-circle" />
                <i class="material-icons lens">lens</i>
            </button>
            <mat-menu #menu_3="matMenu" [overlapTrigger]="false" class="menu_3 tool-menu">
                <button mat-menu-item class="d-flex align-items-center">
                    <img src="../assets/user-img.jpg" class="rounded-circle" /><span class="hdr">Jhon Doe</span>
                </button>
                <div class="col-lg-12 col-12"><mat-divider></mat-divider></div>
                <button mat-menu-item class="d-flex align-items-center">
                    <i class="material-icons-outlined">account_box</i>
                    <span>Profile</span>
                </button>
                <button mat-menu-item class="d-flex align-items-center">
                    <i class="material-icons-outlined">build</i>
                    <span>Setting</span>
                </button>
                <button mat-menu-item class="d-flex align-items-center">
                    <i class="material-icons-outlined">help</i>
                    <span>Help</span>
                </button>
                <div class="col-lg-12 col-12"><mat-divider></mat-divider></div>
                <button mat-menu-item class="d-flex align-items-center" (click)="logOutUser()">
                    Log Out
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>