<div class="col-12 pl-4 pt-4">
    <h1>Settings</h1>
</div>
<div class="row d-flex justify-content-center mr-0 ml-0 mt-5">
    <div class="col-11">
        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Preferences
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row text-center">
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-building"></i><br />Company Profile</a>
                    </div>

                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-users"></i><br />Human Resource</a>
                    </div>

                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-address-book"></i><br />Client and Suppliers</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-user-circle"></i><br />My Account</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-key"></i><br />Change Password</a>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Notifications
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row text-center">
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="material-icons">notifications_active</i><br />Notification Settings</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-users"></i><br />Contact Groups</a>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        System
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row text-center">
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-cogs"></i><br />Application Settings</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="material-icons">code</i><br />Codes Settings</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="material-icons">receipt</i><br />Tax Code Settings</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-tasks"></i><br />Task Templates</a>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Security and Customisation
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row text-center">
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-globe"></i><br />Global Template</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="material-icons">table_chart</i><br />Custom Fields</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-shield"></i><br />Security Roles</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="material-icons">code</i><br />Terms</a>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Service Desk
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row text-center">
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-users"></i><br />Support Teams</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="material-icons">perm_data_setting</i><br />Automation</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-share-square"></i><br />Dispatch</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="material-icons">event</i><br />Ticket Events</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="material-icons">access_time</i><br />Business Hours</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-puzzle-piece"></i><br />SLA</a>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Campaigns
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row text-center">
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-user-circle"></i><br />Campaign Templates</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="material-icons">mail</i><br />Email Templates</a>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Integration
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row text-center">
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-puzzle-piece"></i><br />EzPSA API Keys</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><img src="../assets/xero.png"><br />Xero Intergration</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><img src="../assets/mailchimp.png"><br />Mailchimp Intergration</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-paypal"></i><br />Paypal Settings</a>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Training
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row text-center">
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="material-icons">video_library</i><br />Videos</a>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6 icon-pan">
                        <a href=""><i class="fa fa-sticky-note"></i><br />Release Notes</a>
                    </div>
                </div>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</div>