.contentWrap{
    .leftPanmg{
        padding:30px;
        padding-left:50px;
        padding-right:50px;
        background:#fff;
        width: calc(100% - 34%);
        h1{
            margin-top:20px;
            //margin-bottom:30px;

        }
        .breadcum{
            margin-bottom:30px;
            display:inline-block;
            position:relative;
        }
        label {
            span{
                color:#ff0000;
            }
        }
    }

    @import "form-controlls";
    
    .floating-pop{
        font-size:25px;
        margin-top:20px;
        position:relative;
        ul{
        list-style:none;
        width:auto;
        background:#fff;
        //border-radius:10px;
        padding-left:10px;
        padding-right:10px;
        -webkit-box-shadow: 4px 4px 22px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 4px 22px -9px rgba(0,0,0,0.75);
        box-shadow: 4px 4px 22px -9px rgba(0,0,0,0.75);
        float:right;
        border:1px solid #e4e4e4;
        li{            
            margin-right:8px;
            margin-left:8px;
            display:inline-block;
            a{
                color:#000;
                font-weight:900;
                cursor:pointer;
                transition: all 0.5s;
                -webkit-transition: all 0.25s;
                &:hover{
                    text-decoration:none;
                    color:#9c9c9c;
                }
                .fa{
                    font-size:25px;
                }
            }
        }
        }
    }
.checkWrap,.checkWraps{
    background:#f1f1f1;
    padding-top:10px;
    padding-bottom:10px;
}
    .inner{
        margin-bottom:30px;
        display:none;
        &.showResolve, &.showSchedule, &.showAdvancedOption{
            display:flex;
        }
    }
    .noneDisplay{
        display:none;
    }




    .recent-ticket{
        height:inherit;
        margin-right:20px;
        background:#f1f1f1;
        position:fixed;
        float:right;
        right:0;
        width:30%;
        padding-left:25px;
        padding-right:25px;
        padding-top:50px;
        .wrap{
           height:90vh;
           //padding-right:48px;
           overflow-y: auto;
           @include scrollbars(8px,#f1f1f1, #f1f1f1);
        }
        &:hover > .wrap{
            @include scrollbars(8px,#aaaaaa, #f1f1f1);
        }

        h3{
            font-weight:600;
            font-size:22px;
            margin-bottom:0px;

        }

        .timeUp{
            font-size:13px;
            color:#a1a1a1;
            margin-bottom:30px;
            display:block;
            .fa{
                font-size:12px;
                color:#a1a1a1;
                margin-right:4px;
            }
        }

        .tickPan{
            //@debugbackground:#f1f1f1;
            background:rgb(255, 255, 255);
            margin-bottom:15px;
            padding:20px;
            height:auto;
            -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
            //border-right:4px solid #40683a;
            cursor:pointer;
            &.faded{
                opacity: 0.2;
            }
            &.Resolved, &.resolved{
                
                border-right:4px solid rgb(27, 75, 5);
            }

            &.Initial, &.initial{
                border-right:4px solid skyblue;
            }
            &.Closed, &.closed{
                border-right:4px solid rgb(172, 57, 67);
            }
            &.progress, &.Progress{
                border-right:4px solid orange;
                display:block;
            }
            &.Reopen, &.reopen{
                border-right:4px solid rgb(106, 10, 214);
                display:block;
            }
            &.client{
                border-right:4px solid rgb(5, 153, 109);
                display:block;
            }
            .col-3{
                height:inherit;
                background:#f9f9f9;
                font-weight:900;
                font-size:13px;
                color:#ff0000;
                padding-top:20px;
                padding-bottom:20px;
            }
            .col-9{
                height:auto;
                padding-top:20px;
                padding-bottom:20px;
            }

            .hd{
                font-weight:600;
                font-size:14px;
                width:100%;
                display:block;
                .status{
                    width:15px;
                    height:15px;
                    cursor:pointer;
                    display:none;
                    background:#40683a;
                    margin-right:10px;
                    
                    border-radius:2px;
                    position:absolute;
                    right:0;

                   
                }
                .dec{
                    font-size:13px;
                    font-style: italic;
                    color:#818181;
                    font-weight:100;
                }
            }

            .it{
                font-weight:100;
                font-style:italic;
                font-size:13px;
            }
        }
    }

    .recent-ticket > *:last-child{ margin-bottom: 100px; }

    
}


::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
    background-color: $check_box_bg !important;
}

::ng-deep .popover-header{
    position:fixed !important;
    bottom:0 !important;
    width:100%;
    background:#f1f1f1;
    color:#010101;
    z-index:9999;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:30px !important;
    a{
        color:#010101;
    }
    button.close{
        display:none;
    }
}
@media screen and (max-width: 1100px) {
    .recent-ticket{

        height:inherit;
        position:relative !important;
        margin-right:0;
        padding-left:0 !important;
        padding-right:0 !important;

        .wrap{
            height:100% !important;
         }

         .tickPan{
             .col-3, .col-9{
                 padding-top:0 !important;
                 padding-bottom:0 !important;
             }
             .hd{
                 font-size:13px;
             }
         }
    }
}
@media screen and (max-width: 840px) {
    .leftPanmg{
        width:100% !important;
        margin-left:0;
    }

    .recent-ticket{
        width:100% !important;
        height:inherit;
        position:relative !important;
        margin-right:0;
        padding-left:25px !important;
        padding-right:25px !important;

        .wrap{
            height:100% !important;
         }
    }
}