.fd-bar{
    height:calc(100% - 123px);
    padding-bottom:30px;
    overflow-y:auto;
    @include scrollbars(4px,#979797);

}
.eq-menu{
    width:37px;
    height:37px;
    border:none;
    margin-top:15px;
    //border-radius:5px;
    float:right;
    line-height:48px;
    text-align:center;
    font-size:14px;
    border: 1px solid #acacac;
    transition: all 0.5s;
    background-image: linear-gradient(to bottom,#fff,#f3f5f7);
    &:hover{
        
        -webkit-box-shadow: inset -1px 2px 20px -10px rgba(0,0,0,0.67);
        -moz-box-shadow: inset -1px 2px 20px -10px rgba(0,0,0,0.67);
        box-shadow: inset -1px 2px 20px -10px rgba(0,0,0,0.67);
    }
}

.dropdown-menu{
    width:100%;
    padding-left:5px;
    padding-right:15px;
    margin-top:20px;
    //transform: translate3d(0px, 97px, 0px) !important;
    will-change: transform;
    li{
        padding-top:5px;
        padding-bottom:5px;
        //border-bottom:1px solid #f0f0f0;
        transition: all 0.3s;
        &:hover{
            padding-left:12px;
        }
        a{
            color:$primary_bg_color;
            display:block;
            &:before{
                content:'+';
                margin-right:10px;
                opacity:0;
                transition: all 0.3s;
                font-weight:bold;
            }
            &:hover{
                text-decoration:none;

                &:before{
                    opacity:1;
                }
            }

        }
    }
}

.main-nav-side{
    margin-top:15px;
    display:block;
    ul{
        list-style:none;
        margin-left:0;
        padding-left:0;
        width:100%;
        &.fade{
            opacity: 0.2;
        }
        li{
            padding-top:10px;
            padding-bottom:0px;
            margin-bottom:10px;
            width:100%;
            padding-left:30px;
            display:block;
            transition: all 0.3s;
            cursor:pointer;
            
            &:hover{
                
                a{
                    color:#B4C9DE;
                }
            }
            &.active{
                background:#e9e9e9;

                a{
                    //color:#fff;
                    font-weight:bold;
                }
            }
            a{
                font-size:14.7px;
                color:#333547;
                display:block;
                width:100%;

                &:hover{
                    color:#B4C9DE;
                    font-weight:bold;
                    text-decoration:none;
                }
                span{
                    float:right;
                    margin-right:20px;
                    
                }
                .material-icons{
                    font-size:14px;
                    margin-top:3px;
                    &.arrow{
                        margin-right:0;
                        font-size:16px;
                    }
                    
                }

            }
            
            .material-icons, .material-icons-outlined{
                font-size:20px;
                margin-top:2px;
                margin-right:15px;
                float:left;
                position: relative;
                font-weight:600;
                height:30px;
            }

        }

        .sub_menu{
            width:100%;
            padding-left:0px;
            float:none;
            display:block;
            position:relative;
            clear: both;
            li{
                padding-left:60px;
                padding-top:0;
                &:hover{
                    background:none;
                }
                &.add-btn{
                    a{
                        font-weight:bold;
                    }
                }
            }
            &.hide-menu{
                display:none;
            }
            &.show-menu{
                display:block;
            }
        }

    }
}
@media screen and (max-width: 1300px) {
    .main-nav-side{
        ul{
            li{
                padding-left:20px;
                
                a{
                    font-size:13px;
                }
                .material-icons, .material-icons-outlined{
                    margin-top:-1px;
                }
            }
        }
    }
    .dropdown-menu{
        font-size:14px;
    }

}
@media screen and (max-width: 840px) {
    .eq-menu{
        margin-top:10px;
        margin-bottom:10px;
        float:left;
    }
    .dropdown-menu{
        margin-top:20px;
        //transform: translate3d(0px, 47px, 0px) !important;
    }
    .mobilefilters{
        background:$primary_bg_color;
        color:#fff;
        cursor:pointer;
        padding:10px;
        span{
            margin-top:5px;
            display:inline-block;
            
        }
        .menuSecond{
            font-size:20px;
            margin-top:3px;
            border:1px solid #fff;
            padding:5px;
        }
    }


    .main-nav-side{
        display:none;
        opacity: 0;
        transition: opacity 300ms;
        max-height:500px;
        overflow-y:auto;
        &.showMenu{
            display:block !important;
            opacity: 1;
        }
    }
}


@media screen and (max-width: 350px) {
    .eq-menu{
        font-size:12px;
    }
}

@media (max-width:1170px) and (min-width:840px) {
    .main-nav-side{
        ul{
            li{
                width:100%;
                padding-left:10px;
                
                a{
                    font-size:12px;
                }
                .material-icons{
                    font-size:17px;
                }
            }
        }
    }
    .eq-menu{
        width:100%;
        font-size:12px;
        &:hover{
            padding-left:2px;
        }
    }
    .dropdown-menu{
        font-size:12px;
        li{
            a{
                float:left;
                &:before{
                    float:left;
                    height:30px;
                }
            }
        }
    }
}