
    .table-responsive{
        height:calc(100vh - 210px);
        overflow:auto;
        @media screen and (max-width: 840px) {
            height:auto;
            margin-bottom:100px;
        }
        &::-webkit-scrollbar {
            width: 25px;
        }
          
        &::-webkit-scrollbar-thumb {
            background: #ebeff3; 
            border-left:10px solid #ebeff3;
        }

        &:hover{
            &::-webkit-scrollbar-thumb {
                background: rgb(139, 139, 139); 
                border-left:10px solid #ebeff3;
            }
        }
        .table-striped{
            margin-top:0px;
            tr{
                    border-bottom:1px solid #f5f7f9;
                    background:#fff;
                    &.fade{
                        opacity: 0.2;
                    }
                    mat-checkbox{
                        margin-right:30px;
                    }
                    
                
                th{
                    background:#f5f7f9;
                    display:none;
                    padding-left:20px;
                    border-bottom:none !important;
                    position: sticky; 
                    top: 0;
                    z-index:1;
                }
                td{
                    color:#4F4E4E;
                    font-size:13px;
                    display:none;
                    font-weight:600;
                    padding-left:20px;
                    padding-right:20px;
                    padding-top:20px;
                    padding-bottom:20px;
                    .status-pan{
                        border-radius:2px;
                        padding-left:20px;
                        padding-right:20px;
                        padding-top:1px;
                        padding-bottom:1px;
                        color:#fff;
                        font-size:12px;
                        &.online0{
                            color: #721c24;
                            background-color: #f8d7da;
                            border: 1px solid #f5c6cb;
                            &::after{
                                content:'Offline';
                            }
                        }
                        &.online1{
                            border:1px solid #bebebe;
                            color: #085907;
                            background :#cdebc4;
                            &::after{
                            content:'Online';
                            }
                        }
                    }
                    &.bold{
                        font-weight:800;
                    }
                }
                .hideCol{
                    display: table-cell;
                }
                .displayAll{
                    display: table-cell;
                }
            }
        }
    }
    .pagin-wrap{
        margin-top:0px;
        background:#f5f7f9;
        position: sticky;
        bottom: 0;
        width:100%;
        height:70px;
        border-top:1px solid #a1a1a1;
        pagination-controls{
           padding:0 !important;
           margin-top:0;
           width:100%;
           height:auto !important;

            ::ng-deep .ngx-pagination{
                width:100% !important;
                float:right !important;
                text-align:right;

                margin-bottom:0 !important;
            }
        }
        .select-box{
            float:left;
            margin-right:13px;
        }
        .material-icons-outlined{
            color:#000;
            margin-top:1px;
            margin-right:13px;
            //display:inline-block;
            position:relative;
            float:left;
        }
    }


::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: $check_box_border;
  }
  
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: $check_box_bg !important;
}