@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
$bg_color:#F2F5FA;
$font_family:'Muli', sans-serif;
$primary_bg_color:#333547;
$side_nav_color:#8699AD;
$mat_icon_size:20px;
$nav_hover_bg:#383B4E;
$nav_hover_color:#B4C9DE;
$toolbar_bg:#ffffff;
$check_box_border:#333547;
$check_box_bg:#D32744;