<div id="myModalColumnSettings" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h4 class="modal-title">Equipment List Settings</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 mt-0 mb-3">
            <mat-checkbox [(ngModel)]="clickAll"
              (change)="clickAllValue(clickAll?'checkedclickAll':'nonCheckedclickAll')"> Select All</mat-checkbox>
          </div>
          <div class="col-lg-6 col-12 mb-3">
            <h5>Agent Columns</h5>
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isChecked"
              (change)="checkValue(isChecked?'checked':'nonChecked')"> Agent Status</mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedAv"
              (change)="checkValueAgentVersion(isCheckedAv?'checkedAgentVersion':'nonCheckedAAgentVersion')"> Agent
              Version</mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedLav"
              (change)="checkValueLastAgent(isCheckedLav?'checkedLastAgent':'nonCheckedLastAgent')"> Last Agent Update
            </mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedLu"
              (change)="checkValueLastUser(isCheckedLu?'checkedLastUser':'nonCheckedLastUser')"> Last User
            </mat-checkbox><br />
            <h5 class="mt-3">Service Columns</h5>
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedWe"
              (change)="checkWarrantyExpiry(isCheckedWe?'checkedWarrantyExpiry':'nonCheckedWarrantyExpiry')"> Warranty
              Expiry</mat-checkbox>
          </div>

          <div class="col-lg-6 col-12">
            <h5>Asset Columns</h5>
            <!--<mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedDn"
              (change)="checkDeviceName(isCheckedDn?'checkedDeviceName':'nonCheckedDeviceName')"> Device Name
            </mat-checkbox><br />-->
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedDc"
              (change)="checkDescription(isCheckedDc?'checkedDescription':'nonCheckedDescription')"> Description
            </mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedAn"
              (change)="checkAnumber(isCheckedAn?'checkedAnumber':'nonCheckedAnumber')"> Asset No.</mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedSn"
              (change)="checkSnumber(isCheckedSn?'checkedSnumber':'nonCheckedSnumber')"> Serial No.</mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedSt"
              (change)="checkSt(isCheckedSt?'checkedSt':'nonCheckedSt')"> Status</mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedIp"
              (change)="checkIp(isCheckedIp?'checkedIp':'nonCheckedIp')"> IP Address</mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedMc"
              (change)="checkMc(isCheckedMc?'checkedMc':'nonCheckedMc')"> MAC Address</mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedLc"
              (change)="checkLc(isCheckedLc?'checkedLc':'nonCheckedLc')"> Location</mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedId"
              (change)="checkId(isCheckedId?'checkedId':'nonCheckedId')"> Install Date</mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedCt"
              (change)="checkCt(isCheckedCt?'checkedCt':'nonCheckedCt')"> Contact</mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedMr"
              (change)="checkMr(isCheckedMr?'checkedMr':'nonCheckedMr')"> Memory</mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedPr"
              (change)="checkPr(isCheckedPr?'checkedPr':'nonCheckedPr')"> Purchased</mat-checkbox><br />
            <mat-checkbox [checked]="clickAll" [(ngModel)]="isCheckedGw"
              (change)="checkGw(isCheckedGw?'checkedGw':'nonCheckedGw')"> Gateway</mat-checkbox><br />
          </div>

        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button mat-raised-button color="primary" type="submit" data-dismiss="modal">Okay</button>
      </div>
    </div>

  </div>
</div>