<div class="row mr-0 ml-0 pr-4 pl-4 devices mt-4">
    <div class="col-12 pl-sm-0 mb-2">
        <h2>Custom Fields</h2>
    </div>
    <div class="clearfix"></div>
    <div class="col-12">
        <div class="row">
            <label> Computer Details</label>
            <input type="text"/>
        </div>
        <div class="row">
            <label> Time</label>
            <input type="text"/>
        </div>
        <div class="row">
            <button mat-raised-button color="primary" type="submit" tabindex="15">Update Details</button>
        </div>
    </div>
</div>
