<div class="subHeader col-12 pl-4" [class.expandsidenav]="issideOpen">
    <div class="row  d-flex ml-0 mr-0 align-items-center">
        <div class="col-lg-2 col-md-2 col-12 pl-0 d-flex">
            <div class="click-arrow hide-on-mobile d-flex align-items-center justify-content-center" matTooltip="{{msg}} Filters"
            (click)="aarHide('fa-chevron-right','Open');"><i class="fa {{arrow}}"></i></div>
            <h1>Equipments</h1>
        </div>
        <div class="col-lg-10 col-md-10 col-12 d-md-flex d-sm-flex justify-content-center justify-content-sm-end justify-content-md-end pr-4 textWrap">


            <div class="srchForm">
                <ng-select [multiple]="false" name="clientName" [(ngModel)]="selectedClient" (change)="onChangeclientselect($event)" placeholder="Search Contact">
                        <ng-option *ngFor="let equipmentContact of equipmentContacts" [value]="equipmentContact.MasterID">
                            {{equipmentContact.FullName}}
                        </ng-option>
                </ng-select>

            </div>
            <button class="main-btns tick eq" (click)="redirect();" matTooltip="New Device"><span class="hide-on-desktop-tab">New Device</span> <span class="hide-on-mobile">New Device</span> <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            
            <div class="dropdown">
                <button data-toggle="dropdown" class="main-btns tick eq" matTooltip="Equipment Menu"><i class="material-icons-outlined flt-left" aria-label="">playlist_add</i></button>
                <div class="dropdown-menu fixed-height">
                    <div>
                        <li class="text-left">
                            <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                Add Group
                            </button>
                        </li>
                        <li class="text-left">
                            <button type="button" data-toggle="modal" data-target="#myModalSearch" class="btn btn-flat bg-white btn-block text-left text-normal">
                                Add Saved Search
                            </button>
                        </li>
                        <li class="text-left">
                            <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                Configure Default Policy
                            </button>
                        </li>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button data-toggle="dropdown" class="main-btns tick eq"><span>Task</span><i
                        class="material-icons-outlined" aria-label="">expand_more</i></button>
                <div class="dropdown-menu fixed-height">
                    <div (click)="$event.stopPropagation()">
                        <li class="text-left">
                            <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal"
                                disabled="disabled">
                                Reassign Client
                            </button>
                        </li>
                        <li class="text-left">
                            <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal"
                                disabled="disabled">
                                Reassign Types
                            </button>
                        </li>
                        <li class="text-left">
                            <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal"
                                disabled="disabled">
                                Delete
                            </button>
                        </li>
                        <li class="divider">
                            <mat-divider></mat-divider>
                        </li>
                        <!--<li>
                            <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal"
                                disabled="disabled">
                                Run Script
                            </button>
                        </li>-->
                        <li>
                            <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal"
                                disabled="disabled">
                                Move To Group
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal"
                                disabled="disabled">
                                Uninstall The Agent
                            </button>
                        </li>
                        <li class="divider">
                            <mat-divider></mat-divider>
                        </li>
                        <li>
                            <button type="button" class="btn btn-flat bg-white btn-block text-left text-normal">
                                Export To CSV
                            </button>
                        </li>
                    </div>
                </div>
            </div>
           
            <button class="main-btns tick eq" matTooltip="Download Agent"> <span class="hide-on-desktop-tab">Download<br/>Agent</span> <span class="hide-on-mobile">Agent</span> <i class="fa fa-download" aria-hidden="true"></i>
            </button>
            <form class="srchForm">
                <input type="text" placeholder="Search Equipment" class="search-text"/>

            </form>
            
            <a href="javascript:void(0);" data-toggle="modal" data-target="#myModalSearch">
                <i class="material-icons-outlined filterico">filter_list</i></a>
        </div>
    </div>
</div>

<div class="col-12 mainContainer pl-0 pr-0">

    <div class="w-100 ml-0 mr-0">
       <div class="inner-side-pannel hide-on-mobile" [class.hide-me]="arrClick">
            <app-equipmentsidebar></app-equipmentsidebar>
        </div>

        <!--<i class="material-icons right-arr hide-on-mobile" (click)="aarShow();">arrow_forward</i>-->
        <!--<div class="inner-main-panel" [ngClass]="{'col-lg-9': hasLock, 'offset-lg-3': hasLock, 'offset-lg-0': aarHide, 'offset-lg-12': aarHide }">-->
        <div class="inner-main-panel" [class.w-100]="arrClick">
            <div class="col-lg-3 col-12 inner-side-pannel pl-lg-0 pr-lg-0 hide-on-desktop">
                <app-equipmentsidebar></app-equipmentsidebar>
            </div>
            <div class="fixed-row-last d-flex align-items-center justify-content-lg-end justify-content-md-center pl-4 pr-4">
                <button *ngIf="runscript" class="main-btns" matTooltip="Run Script"><span class="hide-below-tab">Run Script</span> <i class="fa fa-code" aria-hidden="true"></i></button>
                <button class="main-btns" matTooltip="Configuration Global Settings"><span class="hide-below-tab">Configuration Global Settings</span> <i class="fa fa-cog" aria-hidden="true"></i></button>
                <button class="main-btns" matTooltip="Import"><span class="hide-below-tab">Import</span><i class="material-icons-outlined">save_alt</i></button>
                <button class="main-btns" matTooltip="Print"><span class="hide-below-tab">Print</span><i class="material-icons-outlined">local_printshop</i></button>
            </div>
            <div class="col-lg-12 col-12 pt-0 pb-0 pl-0 pr-0 wrap">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>