<div class="col-12 fd-bar p-2">
<div class="col-12 p-10 clearfix hide-on-desktop mobilefilters" (click)="showMenu()">
    <span>Equipment Filters</span><i class="material-icons menuSecond float-right">menu</i>
</div>
<div class="clearfix"></div>
<div class="row mr-0 ml-0 main-nav-side" [ngClass]="eqMenuTrigger ? 'showMenu' : 'hideMenu'">
    <div *ngIf="DropLoderList" class="right-loader left">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
    <ul [class.fade]="DropLoderList">
        <li class="d-flex align-items-center active"  *ngFor="let lftFilter of leftSideFilters?.StandardGroups">
            <a (click)="changeList(lftFilter.ID);"><i class="material-icons">{{lftFilter.Icon}}</i> {{lftFilter.Label}} <span> ({{lftFilter.Count}}) </span></a>
        </li>
        <li class="d-flex align-items-center">
            <a (click)="showGroup(); changeIcons('keyboard_arrow_down')"><i class="material-icons">group</i> Groups <span><i class="material-icons arrow">{{icons}}</i></span></a>
        </li>
        <div class="clearfix sub_menu hide-menu" [class.show-menu]="drop">
                <li class="d-flex align-items-center" *ngFor="let lftFilter of leftSideFilters?.ManualGroups"><a (click)="changeList(lftFilter.GroupID);"> {{lftFilter.GroupName}}</a></li>
                <li class="d-flex align-items-center add-btn"><a><i class="material-icons">add</i> Add Group</a></li>
        </div>

        <li class="d-flex align-items-center">
            <a (click)="showGroup1(); changeIcons1('keyboard_arrow_down')"><i class="material-icons">filter_list</i> Saved Searches <span><i class="material-icons arrow">{{icons1}}</i></span></a>
        </li>
        <div class="clearfix sub_menu hide-menu" [class.show-menu]="drop1">
                <li class="d-flex align-items-center" *ngFor="let lftFilter of leftSideFilters?.SavedSearches"><a (click)="changeList(lftFilter.SearchID);"> {{lftFilter.Name}}</a></li>
                <li class="d-flex align-items-center add-btn"><a><i class="material-icons">add</i> Add Saved Search</a></li>
        </div>
    </ul>
</div>
</div>
 