<div class="col-12 text-center">
    <div class="dropdown">
        <button class="eq-menu" type="button" data-toggle="dropdown">Equipment Menu &#9660;</button>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">Add Equipment</a></li>
            <li><a href="javascript:void(0);">Add Group</a></li>
            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#myModalSearch">Add Saved Search</a></li>
            <li><a href="javascript:void(0);">Configure Default Policy</a>
            </li>
        </ul>
    </div>
    <i class="material-icons menuSecond hide-on-desktop" (click)="showMenu()">menu</i>
</div>
<div class="clearfix"></div>
<div class="row mr-0 ml-0 main-nav-side" [ngClass]="eqMenuTrigger ? 'showMenu' : 'hideMenu'">
    <ul>
        <li class="d-flex align-items-center active"><a [routerLink]=''><i class="material-icons">personal_video</i> All Equipments (6)</a></li>
        <li class="d-flex align-items-center"><a><i class="material-icons">event_available</i> Managed</a></li>
        <li class="d-flex align-items-center"><a><i class="material-icons">event_busy</i> Non Managed</a></li>
        <li class="d-flex align-items-center"><a><i class="material-icons">dns</i> Servers</a></li>
        <li class="d-flex align-items-center"><a><i class="material-icons">devices</i> Devices</a></li>
        <li class="d-flex align-items-center"><a><i class="material-icons">group</i> Groups</a></li>
    </ul>
</div>

 